# ----------------------------------------------------------------------
# Artefactos de compilación de C
# ----------------------------------------------------------------------
*.o
src/*.o
bin/*
!bin/.gitkeep

# ----------------------------------------------------------------------
# Archivos temporales de los Benchmarks (Pruebas)
# ----------------------------------------------------------------------
tmp_bench/
tests/*.bin

# ----------------------------------------------------------------------
# Logs locales del sistema de backups
# ----------------------------------------------------------------------
logs/*.log
backups/

# ----------------------------------------------------------------------
# Basura del Sistema Operativo (Windows / WSL / Mac)
# ----------------------------------------------------------------------
*:Zone.Identifier
*Zone.Identifier
.DS_Store
Thumbs.db